#include <c:\masm32\include\resource.h>
10 DIALOGEX 11, 11, 213, 74, 0
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_CENTER | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "CrackMe2 by massh^CookieCrK - keygen"
FONT 8, "MS SANS SERIF"
{
 GROUPBOX "", 0, 2, -1, 209, 72
 EDITTEXT 100, 6, 16, 201, 12, NOT WS_BORDER | WS_GROUP, WS_EX_STATICEDGE
 EDITTEXT 101, 6, 38, 201, 12, ES_READONLY | NOT WS_BORDER | WS_GROUP, WS_EX_STATICEDGE
 CTEXT "Name:", 309, 6, 7, 22, 8
 CTEXT "Serial:", 309, 5, 29, 22, 8
 PUSHBUTTON "&Generate", 1, 6, 55, 44, 12, BS_CENTER | WS_GROUP, WS_EX_STATICEDGE
 PUSHBUTTON "&About", 103, 55, 55, 44, 12, BS_CENTER | WS_GROUP, WS_EX_STATICEDGE
 PUSHBUTTON "&Exit", 104, 104, 55, 44, 12, BS_CENTER | WS_GROUP, WS_EX_STATICEDGE
 LTEXT "Created by FiNS", 0, 154, 56, 53, 10, WS_DISABLED
}
30 ICON "fins.ico"